body,span,input,img,a,p,ul,li,ol,dl,dt,dd,h1,h2,h4,h3,h5,h6,div,form,table,tr,td,th,b,strong,i,em,select{padding:0; margin:0;}
h1,h2{
	font-weight: normal;
}
a{
	text-decoration: none;
	color: #333;
}
ul li,ol li{
	list-style: none;
}
i,em{
	font-style: normal;
}
img{
	vertical-align: top;
}

body{
	font-family: "微软雅黑";
	font-size: 0.12rem;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.font14{
	font-size: 14px;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
	visibility: hidden;
	height: 0; overflow: hidden; font-size: 0;
}


